/******************************************************************************
   *                            Vazir Font
   *****************************************************************************/
@font-face {
  font-family: 'rubik-glitch';
  src: url('/static/fonts/en/Rubik_Glitch/RubikGlitch-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'pacifico';
  src: url('/static/fonts/en/Pacifico/Pacifico-Regular.ttf') format('truetype');
}
