/******************************************************************************
   *                            Vazir Font
   *****************************************************************************/
@font-face {
  font-family: 'Vazir';
  src: url('/fonts/fa/Vazir/Vazir-Medium-FD-WOL.ttf') format('truetype');
}

@font-face {
  font-family: 'Vazir Bold';
  src: url('/fonts/fa/Vazir/Vazir-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Vazir Light';
  src: url('/fonts/fa/Vazir/Vazir-Light-FD-WOL.ttf') format('truetype');
}
