/******************************************************************************
   *                            Vazir Font
   *****************************************************************************/
@font-face {
  font-family: 'rubik-glitch';
  src: url('/static/fonts/en/Rubik_Glitch/RubikGlitch-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'pacifico';
  src: url('/static/fonts/en/Pacifico/Pacifico-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'fredoka-one';
  src: url('/static/fonts/en/Fredoka_One/FredokaOne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'alfa-slab-one';
  src: url('/static/fonts/en/Alfa_Slab_One/AlfaSlabOne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'permanent-marker';
  src: url('/static/fonts/en/Permanent_Marker/PermanentMarker-Regular.ttf') format('truetype');
}
