.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.homeTitle{
	width: 75%;
	color: rgba(255, 255, 255, .1);
	background: linear-gradient(
		to right,
		rgb(76, 217, 105),
		rgb(52, 170, 220),
		rgb(88, 86, 217),
		rgb(255, 45, 83),
		rgb(255, 45, 83),
		rgb(88, 86, 217),
		rgb(52, 170, 220),
		rgb(76, 217, 105)
	);
	background-size: 400%;
	-webkit-background-clip: text;
	font-weight: 900;
	font-size: 10vw;
	animation: rgbTransition 10s linear infinite;
}

@keyframes rgbTransition {
	0% {
		background-position: 0%;
	}

	100% {
		background-position: 400%;
	}
}
